body, html{
    display: grid;
    gap: 0px;
    margin: 0;
    background-image : url(https://img.freepik.com/free-photo/watercolor-paper-texture_1194-6496.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1728086400&semt=ais_hybrid);
    background-size: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
.icon{
    color: white;
    padding: 20px;
    width:150px;
    height:120px;
}
img{
    border: solid 3px maroon;
}
#headerr{
    height: 100%;
    position: relative;
}
#headerimage{
    position:absolute; width: 100%; min-height: 99vh; max-height:99vh; margin: auto; z-index: 1; top: 0; left: 0;
}
#gradientbackground{
    background-image: linear-gradient(to right, rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0),rgba(130,9,0,0.5),rgba(130,9,0,0.7),rgba(130,9,0,1),rgba(130,9,0,1), rgba(130,9,0,1),rgba(130,9,0,1));
    width: 100%; height: 99vh; margin:auto; z-index: 2; top: 0; left: 0; float: left;
    position:absolute;
}
#icon{
    width: 150px;
    margin: 10px;
    float: right;
}
#title{
    float: right;
    margin: 3% 0% 3% 3%;
    font-size: 2.5rem;
}
*{
    font-family: Georgia, 'Times New Roman', Times, serif
}
#info{
    color: white;
    font-size: x-large;
    text-align: right;
    margin: 3% 0% 3% 3%;
    float: right;
    width: 40%;
}
.informleft{
    color: maroon;
    font-size: x-large;
    text-align: left;
    margin: 3% 10% 3% 3%;
    float: right;
    width: 45%;
    transition: transform 0.075s ease;
}
.informright{
    color: maroon;
    font-size: x-large;
    text-align: right;
    margin: 3% 3% 3% 10%;
    float: left;
    width: 45%;
    transition: transform 0.075s ease;
}
.informleft:hover{
    transform: scale(1.05);
}
.informright:hover{
    transform: scale(1.05);
}
#menubutton{
    border-radius: 5px;
    padding: 2%;
    float: right;
    background-color: rgba(130,9,0,0);
    background-image: linear-gradient(to right, rgba(255,0,0,0),rgba(255,0,0,0),rgba(181,112,112,0.5),rgba(181,112,112,0.8),rgba(181,112,112,1),rgba(181,112,112,1));
    width: 40%;
    font-size: xx-large;
    color: white;
    border: 0;
}
.Signatures{
    width: 100%;
    margin: 0 0 0 0;
    padding: 30px 0 30px 0;
    text-align: center;
    color: maroon;
    background-color: rgba(128, 0, 0,0.2);
    border-bottom: solid 5px maroon;
    border-top: solid 5px maroon;
}
.Signatureselectionl{
    width: 30%;
    height: auto;
    margin: 1% 0 5% 10%;
    background-color: brown;
    transition: transform 0.075s ease;
    border: 0;

}
.Signatureselectionr{
    width: 30%;
    height: auto;
    margin: 1% 10% 5% 0;
    background-color: brown;
    transition: transform 0.075s ease-in;
    border: 0;
}
button:hover{
    transform: scale(1.05);
    border: 0;
    background-color: #ba4b47;
}
li{
    font-size: 1.4rem;
    color: maroon;

}
h3{
    font-size: 2rem;
    color: maroon;
    font-weight: bold;
}
h4{
    font-size: larger;
}
.foot{
    margin-top: 30px;
    width: 100%;
    height:auto;
    background-color: #300101;
    color: white;
    border-top: solid 5px;
    border-color: #8c0000;
}
.footersec{
    background-color: #300101;
    font-size: 1.8rem;
    padding: 0;
    margin: 0;
    text-align: center;
    color: white    ;
}
a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: white;
}

a:active {
    text-decoration: underline;
    color: white;
}
.topbutton{
    background-color: rgba(128, 0, 0,0);
    color: white;
    border:0;
    float:right;
    margin:0 1%;
}
.topbutton:hover{
    background-color: rgba(128, 0, 0,0);
    border-bottom:solid white 5px;
    border-radius: 5px;
}
.extratoppings{
    font-size: 1.5rem;
    color: maroon;
    margin: 3%;
}
#comment{
    width: 95%;
    height: 20vh;
    margin:1%;
    transition: transform 0.075s ease;
}
#submitReview{
    background-color: #8c0000;
    color: white;
    font-size: x-large;
    border: 0;
    padding: 1%;
    margin-left: 1%;
    transition: transform 0.075s ease;
}
#submitReview:hover{
    background-color: #ba4b47;
}
.cell{
    border: solid 2px maroon;
    color: maroon;
    font-size: large;
}
#Email,#Password{
    margin-top: 2%;
    margin-left: 1%;
}



